@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2 {
    margin: 0;
    line-height: 40px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Montserrat';
    color: #0a0a0a;
    font-size: 16px;
    line-height: 19px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    color: #ffff;
    font-size: 18px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color:#002f51;   
}

.header-avatar {
    width: 25%;
    background-image: url(../assets/img/avatar.jpg);
    background-size: cover;
}

.profile-photo {
    max-width: 100%;
    object-fit: cover;
}

.header-content {
    width: 75%;
    height: 300px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: #ff8200;
    height: 50px;
    align-items: center;
}

.nav-link {
    padding-right: 15px;
}

.header-headline {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;
    padding: 15px 15px;
    background-color: #ff8200;
}

.main-container {
    
}



.aside {
    width: 25%;
    background-color: #002f51;
}

.footer {
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8200;
}

.github {
    width: 25%;
    height: 100px;
    background-color: #002f51;
}

.github-link {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;width: 75%;

}